<!-- <div class="container mt-3" *ngIf="cartItems.length > 0">
  <div class="row">
    <div class="col-md-3" *ngFor="let item of cartItems">
      <div class="card">
        <img class="card-img-top" [src]="item.image" alt="{{ item.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.price + ' ' + '$' }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-3" *ngIf="cartItems.length === 0">
  <p>Your cart is empty.</p>
</div> -->
<!-- @if(cartItems.length > 0){
  <div class="container mt-3">
    <div class="row">
      @for(item of cartItems; track  item.id){

        <div class="col-md-3" >
          <div class="card">
            <img class="card-img-top" [src]="item.image" alt="{{ item.title }}">
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <p class="card-text">{{ item.price + ' ' + '$' }}</p>
            </div>
          </div>
        </div>

      }

    </div>
  </div>
} @else {
  <p>Your cart is empty.</p>
}


 -->
 <div class="container">
  <h2>Your Cart</h2>
  @if(cartItems.length > 0){
    @for(item of cartItems; track  item.id){
      <div  class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img [src]="item.image" class="card-img" alt="{{ item.title }}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <p class="card-text">{{ item.description }}</p>
              <p class="card-text"><strong>${{ item.price }}</strong></p>

            </div>
          </div>
        </div>
      </div>

    }
  }

</div>
