<!-- <div class="container mt-3">
  <div class="row">
    <div class="col-md-3" *ngFor="let product of products">
      <div class="card">
        <img class="card-img-top" [src]="product.image" alt="{{ product.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5> -->

<!-- </div>
      </div>
    </div>
  </div>
</div> -->
<!-- @for(product of products; track  products)
{
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-3" >
        <div class="card">
          <img class="card-img-top" [src]="product.image" alt="{{ product.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.price + ' ' + '$' }}</p>
          <button class="btn btn-primary" [routerLink]="['/product',]">View Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>


} -->

<div class="container">
  <h1>Products</h1>
  <div class="row">
    @if(products){
    @for(product of products; track product.id){
    <div class="col-md-4 mb-4">
      <div class="card">
        <img [src]="product.image" class="card-img-top" alt="{{ product.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text  ">{{ product.description }}</p>
          <p class="card-text"><strong>${{ product.price }}</strong></p>
          <button [routerLink]="['/product', product.id]" class="btn btn-primary me-2">View</button>
          <button (click)="addToCart(product)" class="btn btn-success me-2">Add to Cart</button>
        </div>
      </div>
    </div>

    }

    }
    @else {
    <p>No products found.</p>
    }

  </div>
</div>
