<div class="container mt-4">
  <h2 class="text-center">Admin Panel</h2>
  <div class="row mt-4">
    <div class="col-12">
      @if(!editMode){
        <form *ngIf="!editMode" (ngSubmit)="addProduct()">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" [(ngModel)]="newProduct.title" name="title" required>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" id="price" [(ngModel)]="newProduct.price" name="price" required>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" [(ngModel)]="newProduct.description" name="description" required>
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <input type="text" class="form-control" id="category" [(ngModel)]="newProduct.category" name="category" required>
          </div>
          <div class="form-group">
            <label for="image">Image URL</label>
            <input type="text" class="form-control" id="image" [(ngModel)]="newProduct.image" name="image" required>
          </div>
          <button type="submit" class="btn btn-primary">Add Product</button>
        </form>

      }

@if(editMode){
        <h3>Edit Product</h3>
        <form  (ngSubmit)="updateProduct()">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" [(ngModel)]="editProduct.title" name="title" required>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" id="price" [(ngModel)]="editProduct.price" name="price" required>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" [(ngModel)]="editProduct.description" name="description" required>
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <input type="text" class="form-control" id="category" [(ngModel)]="editProduct.category" name="category" required>
          </div>
          <div class="form-group">
            <label for="image">Image URL</label>
            <input type="text" class="form-control" id="image" [(ngModel)]="editProduct.image" name="image" required>
          </div>
          <button type="submit" class="btn btn-primary">Update Product</button>
          <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
        </form>

}

    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <h3 class="text-center">Product List</h3>
    </div>
    @for(product of products; track  product.id){
      <div class="col-sm-6 col-md-4 col-lg-3" >
        <div class="card mb-4">
          <img class="card-img-top" [src]="product.image" alt="{{product.title}}">
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text"><strong>${{ product.price }}</strong></p>
            <p class="card-text">{{ product.description }}</p>
            <button class="btn btn-warning" (click)="startEdit(product)">Edit</button>
            <button class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button>
          </div>
        </div>
      </div>
    }

  </div>
</div>
